<template>
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </template>
    <template if:false={isLoading}>
        <div if:false={erroredServerCall}>
            <div if:true={noChildData}>
                <div class="slds-notify slds-notify_alert slds-alert_warning" role="alert">
                    <span class="slds-assistive-text">warning</span>
                    <span class="slds-icon_container slds-icon-utility-warning slds-m-right_xxx-small" title="=No Child Records Exists">
                      <lightning-icon class="slds-icon slds-icon_xxx-small" aria-hidden="true" icon-name="utility:warning">
                      </lightning-icon>
                    </span>
                    <h2> {label.nochildRecord}
                    </h2>
                  </div>
                </div>
              <template if:false={noChildData}>
                <lightning-tree-grid
                hide-checkbox-column
                columns={gridColumns}
                data={gridData}
                ontoggle={handleRowToggle}
                is-loading={gridLoadingState}
                key-field="Id"
                onrowaction={handleRowAction}
            ></lightning-tree-grid>
              </template>
       </div>
       <div if:true={erroredServerCall}>
           
    </div>
    </template>
  </template>